@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.info-wrapper {
   @include width-height(100%, 100%);
}

.main-info {
   @include flexbox(row, space-between, center, 0);
}

.word-info {
   @include flexbox(column, center, flex-start, 0.5rem);
}

.word-phonetic {
   color: var(--clr-neutral-1);
   font-weight: 400;
}

.audio-btn {
   @include width-height(4.6875rem, 4.6875rem);
   border-radius: 50%;

   @include mq (small) {
      @include width-height(3rem, 3rem);
   }

   &:hover .audio-icon path,
   &:focus-visible .audio-icon path {
     fill: var(--clr-background-1);
     stroke: var(--clr-background-1);
     transition: .2s ease;
   }

   &:hover .audio-icon circle,
   &:focus-visible .audio-icon circle {
      fill: var(--clr-neutral-1);
      opacity: 1;
      transition: .2s ease;
   }
}

.audio-icon circle{
   fill: var(--clr-neutral-1);
   opacity: 0.2;
}

.audio-icon path {
   fill: var(--clr-neutral-1);
   stroke: var(--clr-neutral-1);
}

.speech-container {
   padding-block: 2.5rem;
   @include flexbox(row, flex-start, center, 1.25rem);

   @include mq (small) {
      padding-block: 1.85rem;
      gap: 1rem;
   }
}

.speech-line {
   content: '';
   width: 100%;
   height: 1px;
   background-color: var(--clr-neutral-3);
}

.title {
   color: var(--clr-neutral-2);
}

.meaning-title {
   margin-bottom: 1.56rem;

   @include mq (small) {
      margin-bottom: 1rem;
   }
}

.meaning-item:not(:last-child) {
   margin-bottom: 0.81rem;
}

.meaning-item {
   list-style-type: none;
   @include flexbox(row, flex-start, flex-start, 1.25rem);
   margin-left: 1.25rem;

   @include mq (small) {
      margin-left: 0;
   }
}

.meaning-item::before {
   content: '\2022'; 
   color: var(--clr-neutral-1);
   // margin-right: 0.5rem; 
}

.word-example {
   margin-top: 0.81rem;
   color: var(--clr-neutral-2);
}

.synonyms-container {
   margin-top: 4rem;
   @include flexbox(row, flex-start, flex-start, 1.38rem);

   @include mq (small) {
      margin-top: 1.5rem;
   }
}

.synonym-wrapper {
   @include flexbox(row, flex-start, flex-start, 1.38rem);
   flex-wrap: wrap;
}

.synonym-item {
   color: var(--clr-neutral-1);
   font-weight: 700;
   background-color: transparent;

   &:hover,
   &:focus-visible {
      text-decoration: underline;
   }
}


.source-container {
   border-top: 1px solid var(--clr-neutral-2);
   margin-top: 2.5rem;
   padding-block: 1.19rem;
   @include flexbox(row, flex-start, flex-start, 0);

   @include mq (small) {
      margin-top: 2rem;
      padding-block: 1.5rem;
      @include flexbox(column, flex-start, flex-start, 0);
   }
}

.source-item {
   @include flexbox(row, flex-start, center, 0.5rem);
}

.source-title {
   margin-right: 1.25rem;
   color: var(--clr-neutral-2);
}