@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.error-container,
.error-wrapper {
   @include width-height(100%, 100%);
   @include flexbox(column, center, center, 0);
}

.error-container p {  
      text-align: center;
}

.error-title {
   margin-top: 2.75rem;
   margin-bottom: 1.5rem;
   font-weight: 700;

   @include mq (small) {
      margin-block: 1rem;
   }
}