@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';


.toggle-container {
   @include flexbox(row, center, center, 1.2rem);

   @include mq (small) {
      gap: 0.7rem;
   }
}

.toggle-btn {
   position: relative;
   @include width-height(2.5rem, 1.25rem);
   background-color: var(--clr-neutral-2);
   border-radius: 1rem;
   transition: 0.3s ease;

   &::after {
      content: '';
      @include position(absolute, 50%, 50%, auto, auto);
      @include width-height(0.875rem, 0.875rem);
      background-color: var(--clr-background-1);
      border-radius: 50%;
      transform: translate(-15%, -50%);
      transition: 0.3s ease;
   }
}

.moon-icon {
   stroke: var(--clr-neutral-2);
}

.moon-icon-active {
   stroke: var(--clr-neutral-1);
}

.toggle-active {
   background-color: var(--clr-neutral-1);

   &::after {
      transform: translate(115%, -50%);
   }
}


