@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.search-container {
   position: relative;
   @include width-height (100%, 4rem);

   @include mq (small) {
      height: 3rem;
   }
}

.search-input {
   @include width-height (100%, 4rem);
   @include flexbox (row,center, center, 0);
   background-color: var(--clr-background-2);
   border-radius: 1rem;
   padding-left: 1.5rem;
   font-weight: 700;
   caret-color: var(--clr-neutral-1);
   color: var(--clr-primary-1);

   &::placeholder {
      opacity: 0.5;
   }

   &:focus {
      border: 1px solid var(--clr-neutral-1);
   }

   @include mq (small) {
      height: 3rem;
   }
}

.error-border {
   border: 1px solid var(--clr-error);
}

.search-btn {
   @include width-height (1.1rem, 1.1rem);
   @include position (absolute, 50%, 1.5rem, auto, auto);
   background: url(../../assets/images/icon-search.svg);
   background-repeat: no-repeat;
   background-position: center center;
   transform: translateY(-50%);
}

.empty-error {
   margin-top: 0.5rem;
   color: var(--clr-error);
}




